@charset "utf-8";

/*加载方正字体*/
@font-face { font-family: fzltkh;
	src: url('/assets/fonts/fzltkh.eot'); /* IE9*/
    src: url('/assets/fonts/fzltkh.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/fzltkh.woff') format('woff'), /* chrome、firefox */
    url('/assets/fonts/fzltkh.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/assets/fonts/fzltkh.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {
    font-family: "slick";
    src: url("https://o2zb0wmua.qnssl.com/static/images/fonts/slick.eot");
    src: url("https://o2zb0wmua.qnssl.com/static/images/fonts/slick.eot?#iefix") format("embedded-opentype"), url("https://o2zb0wmua.qnssl.com/static/images/fonts/slick.woff") format("woff"), url("https://o2zb0wmua.qnssl.com/static/images/fonts/slick.ttf") format("truetype"), url("https://o2zb0wmua.qnssl.com/static/images/fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* 加载iconfont字体 */
@font-face {font-family: 'iconfont';
    src: url('/assets/fonts/iconfont.eot'); /* IE9*/
    src: url('/assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/assets/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/assets/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiafan:before { content: "\e65b"; }
.icon-arrowdown:before { content: "\e649"; }
.icon-radiobutton:before { content: "\e6a7"; }
.icon-weibiaoti116:before { content: "\e68a"; }
.icon-jisuanqi:before { content: "\e63f"; }
/*初始化浏览器基本样式*/
* { padding: 0; margin: 0; border: 0 none; line-height: normal; list-style: none; box-sizing: border-box; font-style: normal;}
body,input{ font-family: "Microsoft YaHei", "Heiti SC", simhei, "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", Verdana !important; background: #f0eded; outline: none; font-size: 12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Arial,'Microsoft YaHei';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#666666; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}

/*清除浮动*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/*去掉a标签点击后的虚线*/
body a {outline: none; blr: expression(this.onFocus=this.blur());}
// a { display: inline-block;}
a:hover{text-decoration:none; outline:none;}
/*清除浮动*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/*左浮*/
.float-left { float: left; }
/*右浮*/
.float-right { float: right; }
/*自定义过度*/
.tt1-transition { transition: all 0.2s ease-in-out 0s; -webkit-transition: all 0.2s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.2s ease-in-out 0s; }
/*显示*/
.show { display: block; }
/*隐藏*/ 
.hide { display: none; }
/*去掉a标签点击后的虚线*/
.w1200{width: 1200px; margin: 0 auto;}
// a:hover{color: #EA544A;}
// a:hover i{color: #fff;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-left{text-align: left !important;}

border-bnoe{border-bottom: none !important;}

/*字体大小*/
.fbold{font-weight: 700;}
.fnormal{font-weight: normal; font-style: normal;}
.fsize-0{font-size: 0; -webkit-text-size-adjust: none;}
.fsize-12{font-size: 12px;}
.fsize-13{font-size: 13px;}
.fsize-14{font-size: 14px;}
.fsize-15{font-size: 15px;}
.fsize-16{font-size: 16px;}
.fsize-17{font-size: 17px;}
.fsize-18{font-size: 18px;}
.fsize-19{font-size: 19px;}
.fsize-20{font-size: 20px;}
.fsize-21{font-size: 21px;}
.fsize-22{font-size: 22px;}
.fsize-23{font-size: 23px;}
.fsize-24{font-size: 24px;}
.fsize-25{font-size: 25px;}
.fsize-26{font-size: 26px;}
.fsize-27{font-size: 27px;}
.fsize-28{font-size: 28px;}
.fsize-29{font-size: 29px;}
.fsize-30{font-size: 30px;}
.fsize-31{font-size: 31px;}
.f48 {font-size: 48px;}


/*字体颜色*/
.fcolor-white{color: #ffffff !important;}
.fcolor-gray{color: #73727b !important;}
.fcolor-gray2{color: #a5a5a5 !important;}
.fcolor-blank{color: #343F50 !important;}
.fcolor-blank2{color: #424C59 !important;}
.fcolor-red{color: #ea544a !important;}
.fcolor-green{color: #21a175 !important;}
.fcolor-violet{color: #a789cf !important;}
.fcolor-blue{color: #38a9f0 !important;}
.fc-f96855{color:#f96855;}
.fc-64ae3d{color:#64ae3d;}
.bc-f96855{background:#f96855;}
.bc-64ae3d{background:#64ae3d;}
.bc-gray{background: gray;}
.disabled {background: #555555;}
/*字体位置*/
.fcenter{text-align: center;}

/*字体*/
.f-fz{font-family: fzltkh;}

/*手指*/
.pointer{cursor: pointer;}

/*过渡*/
.transition{transition: all .3s ease; -webkit-transition: all .3s ease;}
.transition-color{transition: color .3s ease; -webkit-transition: color .3s ease;}
.transition-bg-color{transition: background-color .3s ease; -webkit-transition: background-color .3s ease;}

/*盒子样式*/
.box{box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);}
.box:hover{box-shadow: 0 3px 3px 0 rgba(34,25,25,0.1);}

/*盒子宽度*/
.w1200{width: 1200px; margin: 0 auto;}
.w-40{width: 40%;}
.w-30{width: 30%;}
.w-8{width: 8%;}
.w-80{width: 80%;}
.w-100{width:100%;}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px;
}
.ml20 {margin-left:20px;}
.m10 {
    margin: 10px;
}
.m15 {
    margin: 15px;
}
.green {
    color: #619e12;
}
.pt50{
    padding-top:50px;
}
.pt10 {
    padding-top:10px;
}
.pt20 {
    padding-top:20px;
}
.pt30 {
    padding-top:30px;
}
.pt5 {
    padding-top:5px;
}
.pt20 {
    padding-top:20px;
}
.pb10 {
    padding-bottom: 10px;
}
.p20{
    padding:20px;
}
.pl10{
    padding-left:10px;
}
.pl15{
    padding-left:15px;
}
.pl20{
    padding-left:20px;
}
.pl30 {
    padding-left:30px;
}
.p15 {
    padding: 15px;
}
.ti10 {
    text-indent: 10px;
}
.tc {
    text-align:center;
}
.tr {
    text-align:right;
}
.tl {
    text-align:left;
}
.mb5 {
    margin-bottom: 5px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb15 {
    margin-bottom: 15px;
}
.m15 {
    margin: 15px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb5 {
    padding-bottom: 5px;
}
.relative {
    position: relative;
}
.border-gray {
    border-bottom: 1px solid #e7eaec;
}
/*盒子模型*/
.inline-block{display: inline-block;}

.wrap {background:#f0eded;
    a{color:#666;text-decoration: none;}
    a:hover {color:#666;text-decoration: none;}
}
.wrap .container {width:1200px;max-width:1200px;margin: 0 auto;}



/* 滚动样式 */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}
.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: #000;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}
.slick-prev:focus, .slick-next:focus {
    outline: none;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: .25;
}
.slick-prev:before, .slick-next:before {
    font-family: "iconfont";
    font-size: 20px;
    line-height: 1;
    color: #999;
    opacity: .85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: -25px;
}
.slick-prev:before {
    // content: "\2190";
    content: "\e660";
}
.slick-next {
    right: 0px;
}
.slick-next:before {
    // content: "\2192";
    content: "\e65f";
}
/* 滚动样式end */



/* 头部样式 */
header {position: relative;z-index: 99;-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);-webkit-border-shadow: 0 1px 4px rgba(0,0,0,.2);box-shadow: 0 1px 4px rgba(0,0,0,.2);}
.header-top {background: #f3f3f3;color: #999999;height: 60px;}
.icons {
    width: 20px;
    height: 20px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    display: inline-block;
    background: url(../image/sprite.png) no-repeat;
    vertical-align: middle;
}
.i-phone {
    background-position: -368px -56px;
}
.header-container {
    width: 1220px; 
    margin: 0 auto;
    
  
}
.grid_5 {float:left;width:45%; line-height:5.2;}
.grid_5:nth-child(2){float:right;}
.phone-online {font-size:13px;}
.i-qq {margin-left:10px; background-position: -366px -120px ;}
.header-right {float:right;line-height:5.2;
    a {position:relative; display:inline-block;text-align:center; width:80px;height:25px;margin-right:20px; color:#666666;font-size:14px;line-height:25px;}
    a:nth-child(1){color:#fff;background:#62ae3c;}
    a:not(:first-child):hover{color:#f96855;}
    .qipao {position:absolute;top:-13px;right:-85px; width:100px;height:20px;background:url(../image/qipao.png) 0 0 no-repeat;}
}
.header-main {padding-top:20px;background: #fff;height: 105px;}
.nav-logo {float:left; width:460px;line-height:4.5;}
.nav-list {float:right; width:750px; padding-right:30px;}
.main-nav {float:right; height: 85px;margin-right: -25px;margin-bottom:0;line-height:6;
    li {position:relative; display:inline-block; width:100px;height:35px; text-align:center;
        .navcolor {color:#62ae3c;}
        a{width:100%; color:#333;font-size:16px;}
        a:hover{color:#62ae3c;text-decoration: none;}
    }
}
.down_img {
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid #666;
    margin-top: -10px;
    margin-left: 4px;
}
.nav-down {
    display:none;
    position: absolute;
    top: 25px;
    z-index: 9999;
    padding: 8px 10px;
    background: #fff;
    -webkit-box-shadow: 0px 6px 10px -2px #5cad22;
    -moz-box-shadow: 0 6px 10px -2px #5cad22;
    box-shadow: 0 6px 10px -2px #5cad22;
    border-radius: 4px 4px 6px 6px;
    z-index:9998;

    a{display:inline-block; text-align:center;height:30px;line-height:30px;margin-top:5px;border:1px solid #fff; border-radius:3px;}
    a:hover {
        border: 1px solid #62ae3c;
        color:#62ae3c;
    }
}
.nav-new:hover {
    .nav-down{display:block;}
}

/* 头部样式end */

/* 底部样式 */

footer {width:100%;margin: 15px auto 0; background:#dcdcdc;
    .footone {width:100%;height:240px;background:#d1d1d1;
        ul {float:left; padding-top:20px;width:120px;
            li {text-align:center;line-height:30px; color:#666;
                &:nth-child(1){line-height:50px;}
                i{height: 15px;width:15px;overflow: hidden;margin-right:5px;}
                .i-about{background-position:-365px -186px; }
                .i-touming {background-position:-365px -211px; }
                .i-help {background-position:-366px -155px;}
                a:hover {color:#f96855;}
            }          
        }
        .foot-erweima {float:left;width:380px; color:#666; border-left:1px solid #fff;border-right:1px solid #fff;
                h5{width:100%; padding-top:32px;margin-bottom:10px; text-align:center;font-size:12px;}
                >div {
                    padding-left:70px; overflow:hidden;
                    span {float:left;width:109px;height:109px;
                    &:nth-child(1){margin-right:15px; background: url(../image/sprite.png) -115px -302px no-repeat;}
                    &:nth-child(2){background: url(../image/sprite.png) -224px -302px no-repeat;}
                    }
                }
                >p {
                    width:300px;margin: 15px auto 0;text-align:center;
                    span {padding-left:5px;margin-right:10px;
                        &:nth-child(2){padding-left:10px; margin-left:10px;}
                    }
                }
                
        }
        .foot-kefu {float:left; width:355px;text-align:center;
            h3 {font-size:30px;color:#62ae3c;line-height:55px;}
            a {display:block;width:200px;height:70px;margin: 0 auto; text-align:center;line-height:70px;font-size:30px;color:#fff;background:#62ae3c;border-radius:5px;
                i {height: 20px;width: 27px;overflow: hidden; background-position:-359px -231px;}
            }
            h5 {margin: 10px auto;font-size:12px;color:#666;width:200px;}
        }
    }
    .footwo {
        padding-top:15px;
        >div {padding-left:100px;}
        ul { display:inline-block;width:960px;
            li {display:inline-block; margin-left:20px;margin-bottom:10px;
                a:hover {color:#f96855;}
            }
        }
        i {display:block;margin:10px auto; height: 43px;width: 290px;overflow: hidden;background-position: -0px -491px;}
        p {text-align: center;padding:20px 0;}
    }
}


/* 底部样式end */

/* 右侧客服定位   */

.fix-right {
    display:none;
    position:fixed;
    top: 20%;
    right:50%;
    margin-right:-655px;

    span {
        display:block;
        padding:10px 5px;
        margin-bottom:10px;
        background: #9e9e9e; 
        cursor:pointer;
        i {
            display:block;
            width:34px;
            height:27px;
            overflow:hidden;
            background:  url(../image/sprite.png) no-repeat; 
        } 
        .i-kefu {background-position:-302px -143px;}
        .i-phone { height:31px; background-position:-200px -143px;}
        .i-que {background-position:-352px -251px;}
        .i-jisuanqi {height: 32px;width: 34px;background-position:-166px -143px;}
        .i-top {background-position:-268px -143px;}
        &:hover{background:#62ae3c;}
    }  
}

/* 右侧客服定位end  */
