.web-width{width:100%; overflow:hidden;}
/* banner */
.index-banner {position:relative; width:100%;height:530px;overflow:hidden; }
.lubo{ width: 100%;clear: both; position: relative; height:530px;}
.lubo_box{ position: relative; width: 100%; height:530px; }
.lubo_box li{ float: left;position: absolute; top: 0; left: 0; width: 100%; height:530px; opacity: 0;filter:alpha(opacity=0);}
.lubo_box li:nth-child(1){opacity: 1;filter:alpha(opacity=100);opacity: 1;filter:alpha(opacity=100);}
.lubo_box li a {position: absolute;display: block;width: 100%;height: 100%;z-index: 2;}
.lubo_box li img{ width: 100%; height: 530px;}
.cir_box {overflow: hidden;position: absolute;z-index: 100;
    li { float: left;width: 40px;height: 8px;margin: 0 5px;cursor: pointer;background: #fff;opacity: 0.8;filter: alpha(opacity=80);}
    .cir_on{ background: #03995a !important;}
}
/* banner */
.banner-fix {position:absolute; top:100px;right:15%;width:305px;text-align:center;height:285px;background:rgba(113,117,121,0.5);color:#fff;z-index:9;
    h2{font-size:20px;padding-top:45px;color:#fff;}
    h3 {font-size:48px;color:#fff;line-height:75px;}
    &>a{display:block;width:230px;margin:20px auto;padding:7px 5px 7px 5px;color:#fff;font-size:18px;background:#62ae3c;border-radius:5px;
        .i-redbag {width:24px;height:26px; margin-right:10px;background-position: -245px -251px}
        &:hover{
            color:#fff;
        }
    }
    p { font-size:14px;
        span {margin-right:15px;color:#999;}
        a {color:#fff;
            &:hover{
            color:#fff;
        }
        }
    }
}  
/* banner end */
/* 实时网站数据 */
.index-data {width:100%;height:95px;margin:15px auto; background:#fff;
    p{display:inline-block; line-height:95px;padding-left:30px; color:#666;font-size:16px;
        span {color:#f96855;font-size:27px;}
    }
    a{float:right;padding-right:50px; line-height:95px;font-size:12px;color:#f96855;
        &:hover {color:#f96855;}
    }
}
/* 实时网站数据end */
/* 网站介绍 */
.web-intro {@extend .web-width;margin-bottom:15px;
    &>div {float:left; width:32%;padding-left:4%; height:165px;text-align:left; background:#fff;cursor:pointer;
        h3 {position:relative; overflow:hidden;margin-top:0; height:85px;line-height:85px; font-size:18px;color:#333;
            i {position:absolute;top:-10px;right:-5px; height: 76px;width: 76px;overflow: hidden;}
            .i-mine{background-position:-76px -415px;}
            .i-vip {background-position:-304px -415px;}
            .i-cunguan {background-position:-152px -415px;}
        }
        p{width:90%;}
        &:hover {h3{color:#62ae3c;}}
        &:nth-child(2){margin:0 2%;}
    }

    .introne:hover {
        .i-mine {background-position:-0px -415px;}
    }
    .intrtwo:hover {
        .i-vip {background-position:-380px -415px;}
    }
    .intrthree:hover{
        .i-cunguan {background-position:-228px -415px;}
    }
}
/* 网站介绍end */
/* 网站通知 */
.index-notice{@extend .web-width;
    .biao-notice {float:left; width:66%;height:50px;line-height:50px;background:#fff;
        .i-notice {margin-left:40px; height: 20px;width: 18px;overflow: hidden;background-position: -368px -84px;}
        p {display:inline-block;width:78%; padding-left:20px;line-height:50px;
            span {float:right;line-height:50px;}
            a:hover {color:#f96855;}
        }
        &>a:nth-child(3) {float:right;padding-right: 20px;line-height:50px;font-size:12px;color:#62ae3c;}
    }
    .com-notice {float:left;margin-left:2%; width:32%;font-size:14px;height:50px;background:#fff;
        p {padding-left:10px; line-height:50px;
            span {color:#62ae3c;padding:0 6px;}
            a:hover {color:#f96855;}
        }
    }
}
/* 网站通知end */
/* 投标 */
.index-tender {@extend .web-width;margin-top:15px;
    >div {float:left;position:relative;
        i {position:absolute;height: 125px;width: 127px;overflow: hidden;}
    }
    >div:nth-child(1){width:155px;height:265px;text-align:center; color:#fff; background:#85e3a4;overflow:hidden;
        h4 {width:115px; padding: 20px 0px;margin: 50px auto 15px;font-size:26px;border-bottom:1px solid #fff;}
        h6 {font-size:16px;}
        i {bottom:-12px;left:-23px; background-position:-0px -175px}
    }
    >div:nth-child(3){width:155px;height:265px;text-align:center; color:#fff; background:#f9c795;overflow:hidden;
        h4 {width:115px; padding: 20px 0px;margin: 50px auto 15px;font-size:26px;border-bottom:1px solid #fff;}
        h6 {font-size:16px;}
        i {height: 113px;width: 115px;overflow: hidden; right:-9px; background-position:-0px -302px}
    }
    >div:nth-child(2){width:860px;height:265px; margin:0 15px 0 15px;background:#fff;
        p{width:100%;height:55px;padding-left:4%;padding-top:10px;font-size:20px;color:#333;background:#f9f9f9;
            var {float:left; width:80px;height:35px;line-height:35px;border-right:1px solid #333;}
            span {float:left;padding-left:15px;font-size:12px;}
            em {float:right;font-style:normal;font-size:12px;line-height:35px; padding-right:30px;}
        }
    }
    .index-tender-list {overflow:hidden; width:800px;margin: 0 auto; padding-left:20px; background:#fff;font-size:15px;
        li {overflow:hidden; 
            >div {height:90px;
                h3,h4{font-size:16px;}
                span {color:#f96855;}
            }
            &:nth-child(1){border-bottom:1px solid #d1d1d1;padding-bottom:10px;}
        }
        .tender-one {float:left;width:16%;font-size:16px;
            a:hover{color:#f96855;}
        }
        .tender-two {float:left;width:20%;line-height:115px;
            span {font-size:30px;}
            var {color:#f96855;}
        }
        .tender-three {@extend .tender-one;line-height:115px;}
        .tender-four {float:left;width:25%; position:relative;line-height:115px;
            span {width:73%; height: 5px;line-height: 5px;overflow: hidden;display: inline-block;border: 1px solid #d1d1d1;vertical-align: middle; margin-right: 6px;text-indent: 0px;
                    em{background: #619e16;display: block;height: 4px;}
                }
            }
            .tender-five {@extend .tender-one;width:23%;
                .btn-gray {background: gray;border:1px solid gray;color: #fff;}
                .btn-gray:hover {background: gray;border:1px solid gray;color: #fff;}
                 a{display:block; margin: 45px auto 0;width:100px;height:25px;border:1px solid #62ae3c;font-size:14px;text-align:center;line-height:24px;color:#62ae3c;border-radius:4px;
                    
                    &:hover {background:#62ae3c;color:#fff;}
                }
            }

    }
}
.index-tender-tui{ @extend .web-width;margin-top:15px;
    >div {float:left;position:relative;
        i {position:absolute;height: 175px;width: 166px;overflow: hidden;}
    }
    >div:nth-child(1){width:155px;height:555px;text-align:center; color:#fff; background:#f87e81;overflow:hidden;
        h4 {width:115px; padding: 20px 0px;margin: 165px auto 15px;font-size:26px;border-bottom:1px solid #fff;}
        h6 {font-size:16px;}
        i {bottom:-12px;left:-23px; background-position: -0px -0px;}
    }
    .tender-zhai:nth-child(1) {height:205px;width:155px;text-align:center; color:#fff; background:#54c3fb;overflow:hidden;
        h4 {width:115px; padding: 20px 0px;margin: 15px auto 15px;font-size:26px;border-bottom:1px solid #fff;}
        h6 {font-size:16px;}
        i {height: 121px;width: 120px;overflow: hidden;bottom:-12px;left:-23px; background-position: -125px -175px;}}
    .tender-list-tui {width:1030px;margin-left:15px;background:#fff;
        p {width:100%;height:55px;padding-left:4%;padding-top:18px;font-size:14px;background:#f9f9f9; color:#62ae3c;
            span {float:right;
                em {color:#333;}
            }
            a {float:right;margin: 0 20px;color:#62ae3c;}
        }
    }
    .index-tender-list {overflow:hidden;margin: 0 auto;  background:#fff;font-size:15px; 
        >li {overflow:hidden;padding-left:30px;border-bottom:1px solid #d1d1d1;
            >div {height:97px;
                h3,h4{font-size:16px;}
                span {color:#f96855;}
            }
            &:nth-last-child(1){border:0;padding-bottom:10px;}
        }
        .tender-one {float:left;width:13%;font-size:16px;
            a:hover{color:#f96855;}
        }
        .tender-money {float:left;width:16%;line-height:115px;text-align:center;
            span {font-size:26px;}
            }
        .tender-two {float:left;width:16%;line-height:115px;text-align:center;
            span {font-size:30px;}
            var {color:#f96855;}
        }
        .tender-three {float:left; width:13%;line-height:115px;text-align:center;}
        .tender-four {float:left;width:22%; position:relative;line-height:115px;
            span {width:73%; height: 5px;line-height: 5px;overflow: hidden;display: inline-block;border: 1px solid #d1d1d1;vertical-align: middle; margin-right: 6px;text-indent: 0px;
                    em{background: #619e16;display: block;height: 4px;}
                }
            }
            .tender-five {@extend .tender-one;width:20%;
                .btn-gray {background: gray;border:1px solid gray;color: #fff;}
                .btn-gray:hover {background: gray;border:1px solid gray;color: #fff;}
                 a{display:block; margin: 45px auto 0;width:100px;height:25px;border:1px solid #62ae3c;font-size:14px;text-align:center;line-height:24px;color:#62ae3c;border-radius:4px;

                    &:hover {background:#62ae3c;color:#fff;}
                }
            }
    }
}
/* 投标end */
/* 媒体报告 */
.index-media {@extend .web-width; margin: 15px auto;
    .index-media-article {width:62%; display:inline-block;
         height:315px;background:#fff;
        .index-article-title{width:100%;padding-left:4%;line-height:50px;font-size:20px;color:#62ae3c; background:#f9f9f9;
            a{float:right;line-height:50px;font-size:12px;padding-right:20px; color:#62ae3c;}
        }
        ul {padding:0 4%;
            li {width:100%;border-bottom:1px solid #eee;
                span {line-height:50px;color:#666;
                &:nth-child(1){font-size:16px;}
                &:nth-child(2){float:right; font-size:14px;padding-right:4%;}
                }
                &:nth-last-child(1){border:0;}
                .dlshow{display:block;}
                .dlnone {display:none;}
                dl{display:none; width:100%;padding:10px 10px; height:130px;overflow:hidden; background:#f9f9f9;
                    dt{float:left; width:115px;height:115px;background:#fff;}
                    dd{display:inline-block;width:80%;padding-left:4%;
                        h3 {font-size:16px;color:#f96855; text-decoration: underline;margin-top:5px;
                        .media-more{float:right;font-size:12px;padding-right:20px; color:#62ae3c;}
                        }
                        p {text-indent: 2em;line-height: 1.5; font-size:12px;color:#666;}
                    }
                }
            }
        }
    }
    .index-media-video{float:right;width:36%;
         height:315px;background:#fff;
        .index-article-vitit {width:100%;padding-left:4%;line-height:50px;font-size:20px;color:#62ae3c; background:#f9f9f9;
            a{float:right;line-height:50px;font-size:12px;padding-right:20px; color:#62ae3c;}}
            video {display:block; margin: 15px auto 0; background:#ded1d1;}
            p {width:80%; overflow:hidden; margin:0 auto; line-height:80px;font-size:16px;
                a:hover{color:#62ae3c;}
            }
     }
}
/* 媒体报告end */
/* 合作伙伴 */
.officialBox {@extend .web-width;background:#fff;
        >a{display:block; width:100%; color: #62ae3c; height: 60px;line-height: 60px;border-bottom:1px solid #e0e0e0;font-size: 20px;text-indent: 4%;background:#f9f9f9;
            &:hover {color:#62ae3c;}

        }
        .index-partner {
            width: 94%;
            margin: 0 4%;
            height: 80px;
            background:#fff;
            padding-top:10px;
            .pic{ 
                float: left;
            width: 140px;
            height: 50px;
            display: block;
            margin: 4px;
            border: 1px solid #ccc;
            }

        }
        
}
/* 合作伙伴end */


