
.invest-nav {width:100%;height:55px;background:#64ae3d;
    h3 {font-size:18px;color:#fff;line-height:55px;
        a {color:#fff;
        &:hover {color:#fff;
            }
        }
    }
}
/* 项目列表筛选条件 */
.invest-chose {
    padding: 20px;
    margin: 30px auto;
    background: #fff;
    position: relative;
    ul {overflow:hidden;}
    li {font-size:16px;color: #333;}
    .filter-title {
        float: left;
        width: 80px;
        padding: 3px;
    }
    .filter-tag {
        float: left;
        padding: 3px 20px;
        margin: 0 5px;
        cursor: pointer;  
    }
    .active {color: #64ae3d;}
    .invest-use-money {
        position: absolute;
        right: 80px;
        top: 20px;
        border-left: 1px dashed #64ae3d;
        padding-left: 110px;
        .b-samll {
            padding: 4px 28px;
        }
        .btn-green {
            border: 1px solid #619e16;
            border-radius: 25px;
            color: #619e16;
            display: inline-block;
            cursor: pointer;
            position: relative;
        }
    }
}
/* 项目列表筛选条件end */

/* 投资列表 */
.invest-list {
    background:#fff;
    margin-bottom:20px;
    color:#333;
    .invest-title{
        overflow:hidden;
        height:55px;
        padding: 0 20px;
        border-bottom: 1px solid #ccc;
        span{position:relative; float:left;line-height:55px; margin-left:8px;padding:0 10px; cursor:pointer;
            i {position:absolute;top:21px;right:-3px;font-size:14px;}
        }
        .active { color:#64ae3d;}
        span:nth-child(1){
            color:#64ae3d;
        }
        span:nth-child(2){
            color:#64ae3d;  
        }
        span:nth-last-child(1){
            float:right;
            padding-left:20px;
            color:#64ae3d;
        }
    }
    .invest-list-main {
        padding:20px;
        overflow:hidden;
        border-bottom: 1px solid #f2f2f2;
        margin: 0 auto;
        .biao-type {position:absolute;top:-24px;left:-24px;width:50px;height:50px;padding:27px 0 0 27px;border-radius:50%;color:#fff;}
        li {overflow:hidden;}
        h4{float:left;width:64%;
            a:hover{color:#f96855;}
            .biao-xu {border:1px solid #f96855;border-radius:3px;padding: 0 3px;}
        }
        h5{float:left;}
        .invest-tit {
            float:left;
            width:180px;
            span {float:left;
                &:nth-child(1){color:#333;line-height:50px;}              
            }
        }
        .invest-speed {
            .invest-speed-line {float:left;width:400px; position:relative;
            span {width:85%; height: 5px;line-height: 5px;overflow: hidden;display: inline-block;border: 1px solid #d1d1d1;vertical-align: middle; margin-right: 6px;text-indent: 0px;
                    em{background: #619e16;display: block;height: 4px;}
                }
            }
        }
        input{padding:5px 0px;border-radius:5px;text-align:center;background: #fff;border: 1px solid #ccc;}

        div{
            a{  margin-top:20px; margin-right:45px;padding:3px 30px;
            border: 1px solid #619e16;
            border-radius: 5px;
            color: #619e16;
            float:right;
            width:128px;
            cursor: pointer;
            position: relative;
            &:hover {background:#619e16;color:#fff;}
            }
            .btn-gray {color:gray;background:gray;border:1px solid gray;color:#fff;
            &:hover {color:gray;background:gray;border:1px solid gray;color:#fff;}
            }
        } 
    }
}
.page-list {background:#fff;width:50%;margin: 0 auto;color: #64ae3d;padding-bottom:30px;

 
}
.page-list a, .page-list span {
    color: #64ae3d;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: inline-block;
    margin-left: 8px;
    border-radius: 3px;
    vertical-align: middle;
    cursor:pointer;

}
/* 投标列表end */

 /* 投标详情页 */
/* 投标详情基本信息 */
.invest-main-left {
    float:left;
    margin-right:10px;
    width:805px;
    height:400px;
    overflow:hidden;
    background:#fff;
    color:#333;
    .invset-info-title {
        border-bottom: 1px solid #64ae3d;
        position: relative;
        color:#64ae3d;
        font-size:16px;
        .invset-info-time {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 14px;
            color:#ff594f;
        }
    }
    .invest-list-main {
        padding:20px 20px 35px 20px;
        overflow:hidden;
        border-bottom: 1px solid #f2f2f2;
        .invest-tit {
            float:left;
            width:130px;
            span {float:left;
                &:nth-child(1){color:#333;line-height:50px;}              
            }
            &:nth-child(2){width:135px;}
            
            &:nth-last-child(1){width:220px; text-align:center;padding-right: 35px;}
        }
        .invest-speed {
            .invest-speed-line {float:left;width:100%; position:relative;
            span {width:75%; height: 5px;line-height: 5px;overflow: hidden;display: inline-block;border: 1px solid #d1d1d1;vertical-align: middle; margin-right: 6px;text-indent: 0px;
                margin-top:7px;
                    em{background: #619e16;display: block;height: 4px;}
                }
            }
        }
    }
    .invest-main-dot {
         >span { width:32%;line-height:70px;}
    }
}
.invest-main-right {
    float:left;
    width:355px;
    height:400px;
    overflow:hidden;
    background:#fff;
    color:#333;
    .invset-info-title {
        border-bottom: 1px solid #64ae3d;
        position: relative;
        color:#64ae3d;
        font-size:16px;
        .invset-info-time {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 14px;
            a{color:#ff594f;}
        }
    }
    .tender-input {
        color: #999;
        line-height: 14px;
        padding: 5px 0px;
        border: 1px solid #c5c5c5;
        text-indent: 1.2em;
        margin-left: 0px;
        width: 60%;
        background:#fff;
        border-radius:6px;
    }
    .invest-put {position:absolute;top:0;right:10px;padding:5px 20px;color:#64ae3d;border:1px solid #64ae3d;font-size:18px;
        &:hover {color:#64ae3d;}
    }
    .putmoney {
        span:nth-child(2){float:right;width:100px;}
    }
    .tender-input-btn {
        display:block; width:90%;margin:0 auto; padding: 10px 0; color:#fff;border-radius:5px;
    }
}
/* 投标详基本信息end */
/* 投标详情内容 */
.invest-detail {
    background:#fff;
    width:1170px;
    color:#333;
    h3 {
        line-height:65px;
        text-indent: 30px;
        border-bottom: 1px dashed #ff594f;
        span {width:100px;cursor:pointer;}
        .active {color:#ff594f;}
    }
    .detailone {
        border-bottom: 1px dashed #eee;
        li { line-height:40px;
            >span {display:inline-block;width:32%;text-align:left;text-indent: 50px;}
        }
    }
    .detailtwo {
        border-bottom: 1px dashed #eee;
        h4 {
            margin:0;
            line-height:45px;
            padding-left: 30px;

        }

        >div {
            p{display:inline-block;width:60%;
                >span {padding-left:30px;display:inline-block; width:37%;}
            }
        }
    }
    .detailthree {
         border-bottom: 1px dashed #eee;
        .tit{
            span {display:inline-block;padding-left:60px;line-height:50px;
                &:nth-child(1){width:150px;}
                
            }
            .tg{font-size:25px;color:#64ae3d;}

        }
        .okpic {position:absolute;top:100px; right:211px;width:242px;height:228px;background:url(../image/queren.png) 0 0 no-repeat;}
    }
    .detailfour {
        border-bottom: 1px dashed #eee;
        .invest-pic{width:90%;margin: 15px auto;text-align:center;   
        }
        >h5 {margin-top:100px;}
        >p {text-indent:2em;width:95%;margin: 10px auto;line-height:2;}
    }
    .invest-record {
        li {
            border-bottom: 1px dashed #eee;
            >span{
                display:inline-block;
                width:19%;
                text-align:center;
                padding: 10px 0;
                &:nth-child(1){width:13%;}
            }
        }
        
    }
    .invest-data {
        li {border-bottom: 1px dashed #eee;
            >span{
                display:inline-block;
                width:25%;
                text-align:center;
                padding: 10px 0;
                &:nth-child(1){width:20%;}
            }
        }
    }
    .btn-more {display:block;width:100%;line-height:50px;text-align:center;color:#fff;font-size:18px; background:#ccc;}
    .btn-more:hover {color:#fff;}
}
/* 投标详情内容end */
/* 投标详情页end */

